<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head') %>
</head>
<body>
    <%- include('../partials/nav') %>

    <div class="container mt-3">
        <div class="row">
            <div class="col-md-12 mt-3">
                <form method="post" enctype="multipart/form-data">
                    <div class="row mb-3">
                        <label for="title" class="col-sm-2 col-form-label">Başlık</label>
                        <div class="col-sm-8">
                            <input type="text" name="title" class="form-control">
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label for="description" class="col-sm-2 col-form-label">Açıklama</label>
                        <div class="col-sm-8">
                            <textarea id="editor" name="description" class="form-control" rows="10"></textarea>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label for="image" class="col-sm-2 col-form-label">Resim</label>
                        <div class="col-sm-8">
                            <input type="file" name="image" class="form-control">
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label for="category" class="col-sm-2 col-form-label">Kategori</label>
                        <div class="col-sm-8">
                            <select name="category" id="category" class="form-select" multiple>
                                <option value="-1" selected>Seçiniz</option>
                                <option value="1" selected>Oyun Geliştirme</option>
                               
                            </select>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-sm-10 offset-sm-2">
                          <div class="form-check">
                            <input class="form-check-input" type="checkbox" name="confirmation">
                            <label class="form-check-label" for="confirmation">
                              Onay
                            </label>
                          </div>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-sm-10 offset-sm-2">
                          <div class="form-check">
                            <input class="form-check-input" type="checkbox" name="mainpage">
                            <label class="form-check-label" for="mainpage">
                              Anasayfa
                            </label>
                          </div>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-sm-8 offset-sm-2">
                            <button type="submit" class="btn btn-primary">Kaydet</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <script src="https://cdn.ckeditor.com/ckeditor5/41.1.0/classic/ckeditor.js"></script>
    <script>
        ClassicEditor
            .create( document.querySelector( '#editor' ) )
            .catch( error => {
                console.error( error );
            } );
    </script>
    
</body>
</html>